[Desktop Entry]
Encoding=UTF-8
Name=elcoin
Comment=Elcoin P2P Cryptocurrency
Comment[fr]=Elcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Elcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/elcoin
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/elcoin80.xpm
MimeType=x-scheme-handler/elcoin;
Categories=Office;
